.rs-view {
  width: 100%;
  height: 100%;
  background: #fff;
  overflow-y: scroll;
  .header {
    width: 100%;
    padding: 30px 0;
    background: var(--bg);
    overflow: hidden;
    color: #fff;
  }

  .block {
    margin-top: 15px;
    display: flex;
  }

  .title {
    display: flex;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }

  .left {
    flex: 1;
    text-align: left;
  }

  .right {
    flex: 1;
    text-align: right;
  }

  p {
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 14px;
  }

  h1 {
    font-size: 28px;
    margin: 0;
  }

  h2 {
    position: relative;
    z-index: 1;
    width: calc(100% - 120px - 30% * 2);
    min-width: 100px;
    margin: 20px auto 0;
    padding: 4px 10px;
    border-radius: 32px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    background-color: #eee;
  }

  h2::after {
    content: "";
    width: calc(100% + 10px);
    position: absolute;
    top: 50%;
    height: 0;
    left: 120%;
    border-top: 1px solid #ededed;
  }

  h2::before {
    content: "";
    width: calc(100% + 10px);
    position: absolute;
    top: 50%;
    height: 0;
    left: -120%;
    border-top: 1px solid #ededed;
  }

  h3 {
    position: relative;
    padding: 10px 0 5px;
    line-height: 20px;
    overflow: hidden;
    font-weight: 500;
    min-height: 30px;
    font-size: 13px;
    margin-left: 50px;
    margin-right: 50px;
  }

  ul {
    margin: 0 50px;
  }

  li {
    font-size: 13px;
    margin-top: 8px;
    list-style: square inside;
  }

  li ul li {
    list-style: decimal;
  }
}
