* {
  font-family: 'pingfang-sc' !important;
}
.rs-view {
  width: 100%;
  background: #fff;
  overflow-y: scroll;
  padding: 20px 40px;
}
.rs-view .header {
  width: 100%;
  overflow: hidden;
  background: #fff;
  color: var(--bg);
  padding: 0;
  margin-bottom: 40px;
}
.rs-view .block {
  margin-top: 15px;
}
.rs-view .block::before {
  display: block;
  content: "";
  height: 0;
  clear: both;
}
.rs-view .block::after {
  display: block;
  content: "";
  height: 0;
  clear: both;
}
.rs-view .title {
  display: flex;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.rs-view .left {
  float: left;
  width: 50%;
  text-align: left;
}
.rs-view .right {
  float: right;
  width: 50%;
  text-align: right;
}
.rs-view p {
  margin-right: 8px;
  display: block;
  line-height: 18px;
  font-size: 14px;
  color: #747474;
  margin-top: 8px;
  margin-bottom: 0px;
}
.rs-view h1 {
  font-size: 30px;
  margin-bottom: 12px;
  font-weight: 800;
}
.rs-view h2 {
  position: relative;
  font-size: 20px;
  color: var(--bg);
  border-bottom: 1px solid var(--bg);
  margin-top: 40px;
}
.rs-view h3 {
  margin: 15px 0;
  font-size: 15px;
}
.rs-view ul {
  margin: 0 10px;
}
.rs-view li {
  font-size: 13px;
  margin-top: 8px;
  color: #747474;
  list-style: square inside;
}
.rs-view li ul {
  margin: 0 50px;
}
.rs-view li ul li {
  list-style: decimal;
}
.rs-view .icon {
  fill: #747474;
}
.rs-view a {
  color: #747474;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
}
.rs-view a:hover {
  color: #616161;
}
.rs-view a:active {
  color: #616161;
}
.rs-view a:active,
.rs-view a:hover {
  text-decoration: none;
  outline: 0;
}
.rs-view a:focus {
  text-decoration: none;
  outline: 0;
}
.rs-view a[disabled] {
  color: rgba(255, 255, 255, 0.25);
  cursor: not-allowed;
  pointer-events: none;
}
.rs-view code {
  font-size: 14px;
  word-wrap: break-word;
  padding: 3px 6px;
  color: #333;
  border-radius: 4px;
  margin: 0 2px;
  background-color: rgba(27, 31, 35, 0.05);
  word-break: break-all;
}
