.rs-shortcuts {
  position: absolute;
  right: 40px;
  bottom: 0;
  .icon {
    display: block;
    fill: currentColor; 
    width: 40px;
    overflow: hidden;
    cursor: pointer;
  }
}

.rs-shortcuts-item {
  .icon {
    fill: black;
  }
}
