/* 
html5doctor.com Reset Stylesheet
v1.4.1 
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/
*{
  /* font-family: core_sans_n45_regular,"Avenir Next","Helvetica Neue",Helvetica,Arial,"PingFang SC","Source Han Sans SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi MicroHei",sans-serif; */
  font-size: 100%;
  box-sizing:border-box;
}
html, body {
  width: 100%;
  height: 100%;
/*    min-width: 1200px;*/
}
a{
  color: #7c7b7b;
  text-decoration: none;
}
a {
  transition-property: background,color;
  transition-duration: .2s;
  transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
}

:focus {
outline: 1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

mark {
  background-color:#ff9;
  color:#000; 
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted #000;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

hr {
  display:block;
  height:1px;
  border:0;   
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}
ul,li{
  list-style: none;
}
em{
  font-style: normal;
}
.clear:after{
  clear: both;
  height: 0;
  display: block;
  content: "";
}
.clear{
  clear: both;
}
input{
  border:1px solid #fff;

}
input:focus{
  border:1px solid #fff;
}
input,textarea{ 
  outline:none; 
}
.fl{
  float: left;
}
.fr{
  float: right;
}
@media only screen and (min-width: 270px){
  html {
      font-size: 65%!important;
  }
}
@media only screen and (min-width: 370px){
  html {
      font-size: 75%!important;
  }
}
@media only screen and (min-width: 414px){
  html {
      font-size: 81.3%!important;
  }
}
@media only screen and (min-width: 481px){
  html {
      font-size: 94%!important;
  }
}
@media only screen and (min-width: 561px){
  html {
      font-size: 109%!important;
  }
}
@media only screen and (min-width: 641px){
  html {
      font-size: 110%!important;
  }

}

.gutter{
  display: none;
}
.container{
  word-wrap: break-word;
}

#highlighter_322133{
  font-size: 0.6rem;
}

body {
  background-color: #eee;
  padding: 20px;
  color: #333;
  line-height: 1.5;
  letter-spacing: 1px
}
.down {
  position: absolute;
  left: 25px;
  top: 25px;
  color: #bbb;
  font-size: 12px;
  text-align: right;

}
.header {
  width: 100%;
  padding: 30px 50px;
  background: #39393a;
  overflow: hidden;
  color: #fff;
}
.name {
  width: 50%;
  float: left;
}
.name h1 {
  font-size: 2.6rem;
  font-weight: 500;
}
.job {
  width: 50%;
  text-align: right;
  float: right;
  font-size: 1.8rem;
  margin-top: 10px;
}
.job h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.title {
  margin-top: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.message {
  margin-top: 15px;
}

.school {
  float: left;
  width: 50%;
}

.school p {
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.info {
  float: right;
  width: 50%;
  text-align: right;
}

.info a {
  display: block;
  color: #fff;
}

.info .iconname {
  vertical-align: text-top;
  font-size: 0.8rem;
}

.info > a .iconfont {
  fill: #fff;
  vertical-align: text-top;
}

/*container*/
.container { 
  background: #fff;
  padding: 30px 50px;
}
.con-left {
  float: left;
  width: 50%;
}


.con-head {
  position: relative;
}

.con-title-l {
  width: 35%;
  position: absolute;
  top: 50%;
  height: 0;
  left: 0;
  border-top: 1px solid #ededed;
}

.con-title-c {
  position: relative;
  z-index: 1;
  width: 24%;
  min-width: 100px;
  margin: 0 auto;
  padding: 4px 10px;
  border-radius: 32px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  background-color: #eee;
}

.con-title-r {
  width: 35%;
  position: absolute;
  top: 50%;
  height: 0;
  right: 0;
  border-top: 1px solid #ededed;
}

.item-title {
  position: relative;
  padding: 10px 0 5px;
  line-height: 20px;
  overflow: hidden;
  font-weight: 500;
  min-height: 30px;
  font-size: 13px;;
}

.item-name {
  float: left;
}

.item-time {
  float: left;
  width: 100%;
}

.item-more {
  position: absolute;
  top: 10px;
  right: 0;
}

.btn {
  display: inline-block;
  padding: 0 5px;
  border: 1px solid #39393a;
  border-radius: 3px;
  color: #39393a;
  font-family: Menlo,Helvetica Neue,Helvetica,Arial,Microsoft YaHei,sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}
.btn:hover {
  color: #fff;
  background-color: #39393a;
}

.item-content {
  font-size: 13px;
}

.con-item {
  margin-bottom: 20px;
}

.item-li .item-ul {
  margin-left:2rem;
}

.item-li .item-ul .item-li {
  list-style: decimal;
}

.item-li {
  margin-top: 8px;
  list-style: square inside;
}

.item-p {
  margin-top: 8px;
}

.con-right {
  float: right;
  width: 50%;
}

.con-skill,.con-work,.con-job {
  padding: 10px 15px;
}
/* @media only screen and (max-width: 1024px) { */
  body {
    padding:0px;
  }
  .con-left, .con-right {
    width: 100%;
  }
/* } */

@media only screen and (max-width: 720px) {
  .name, .job,.school, .info {
    width: 100%;
    text-align: center;
  }
  .name h1 {
    letter-spacing: 0;
    line-height: 1.25;
    margin-top: 10px;
  }
  .job h2 {
    margin: 5px auto 0;
    padding: 10px;
  }
  .iconname {
    display: none;
  }
  .info a {
    display: inline-block
  } 
}

